<mat-card class="task-item">
    <mat-card-content>
        <div class="task-item-title">{{ task.title }}</div>
        <div class="task-item-content">{{ task.description }}</div>
        <div class="date">Date: {{ task.date }}</div>
        <div class="priority-high">Priority : {{ task.priority }}</div>
    </mat-card-content>
    <div class="task-item-actions">
        <a mat-button>
            <mat-icon>edit</mat-icon>
        </a>
        <button mat-button>
            <mat-icon color="warn">delete</mat-icon>
        </button>
    </div>
</mat-card>